<section>
    <h1>Enter the values for without cache with no  restriction </h1>
<form method="post" action="/r0">
   
   <label>No of queries:</label>
   <input type="text" name="no_of_queries"><br>
   <input type="submit" value="Search">
  
</form>
</section>
<section>
    <h1>Enter the values for without cache with restriction </h1>
<form method="post" action="/r1">
   <label>Magnitude :</label>
   <input type="text" name="magni"><br>
   <label>No of queries:</label>
   <input type="text" name="no_of_queries"><br>
   <input type="submit" value="Search">
   
</form>
</section>

<section>
    <h1>Enter the values for with cache with no restriction </h1>
<form method="post" action="/r_cache">
   
   <label>No of queries:</label>
   <input type="text" name="no_of_queries"><br>
   <input type="submit" value="Search">
   
</form>
</section>

<section>
    <h1>Enter the values for with cache with restriction</h1>
<form method="post" action="/r_cache1">
   <label>Magnitude :</label>
   <input type="text" name="magni"><br>
   <label>No of queries:</label>
   <input type="text" name="no_of_queries"><br>
   <input type="submit" value="Search">
</form>
</section>